server {
  listen 80;
  {%- set default_hostname = salt['grains.get']('fqdn', 'monitor') %}
  server_name {{ graphite_host }};

  location ^~ / {
    proxy_pass              http://localhost:8080;
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_connect_timeout   150;
    proxy_send_timeout      100;
    proxy_read_timeout      100;
    proxy_buffers           4 32k;
    client_max_body_size    8m;
    client_body_buffer_size 128k;





    if ($http_origin ~* 'https?:\/\/({{ grains['fdqn_ip4'] | replace(".", "\.") }})?.\X+') { set $cors 'true'; }
    #if ($http_origin ~* 'https?:\/\/(146\.148\.94\.58)?.\X+') { set $cors 'true'; }

    if ($cors = 'true') {
        add_header  "Access-Control-Allow-Origin" $http_origin;
        add_header  "Access-Control-Allow-Credentials" "true";
        add_header  "Access-Control-Allow-Methods" "GET, OPTIONS";
        add_header  "Access-Control-Allow-Headers" "Authorization, origin, accept";
    }


  }
}
